@import "common.scss";
@import "skew.scss";

$email-input-margin: 2%;

footer {
    position: relative;
    background-color: white;
    font-size: 1.6rem;
    padding: 2rem;
    margin-top: 4rem;
    text-align: center;

    .social {
        img {
            width: 4rem;
            margin: 1rem;
        }
    }

    .conecte {
        margin: 0 0 3rem 0;

        p {
            margin: .5rem 0;
        }

        .title {
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        form {
            margin-top: 3rem;
        }

        input {
            margin-top: $email-input-margin;
            width: 100%;
        }
    }

    .info {
        @extend .skewedDown;
        font-size: 1.6rem;
        width: 100%;
        padding-top: 50% * $tgSkewDegrees;
        overflow: hidden;

        .background {
            background-color: $oparque-yellow;
        }

        > .content {
            /*  Sobrescreve o tipo de posição do elemento
                para poder posicionar todo o conteúdo
            */
            position: relative !important;
        }

        address {
            padding: 2rem 2rem 0 2rem;
            margin-bottom: 2rem;

            a, img, span {
                vertical-align: middle;
                display: inline-block;
                text-align: left;
                margin: 1rem 0;
            }

            a {
                text-decoration: none;
            }

            a, span {
                width: 17rem;
            }

            img {
                width: 3rem;
                margin-right: 1rem;
            }
        }

        input[type=submit] {
            width: 4rem;
            color: $oparque-yellow;
        }

        #busca {
            width: calc(100% - 4rem);
            background-color: transparent;
        }

        .busca {
            text-align: left;
            padding: 3rem 0 2rem 0;

            form {
                padding: 0 2rem;
            }

            img {
                position: absolute;
                z-index: -1;
                width: 14rem;
                height: auto;
                bottom: 1rem;
                right: 0;
            }
        }
    }

    @media all and (min-width: 21rem /*336px*/ ) {
        .info {
            font-size: 1.8rem;

            address {
                a, span {
                    width: 19rem;
                }
            }
        }
    }

    @media all and (min-width: 30rem /*480px*/ ) {
        .conecte {
            $email-input-margin: 1%;

            p {
                font-size: 1.8rem;
            }

            input {
                margin-top: $email-input-margin;
            }

            #nome, #sobrenome {
                width: (100% - $email-input-margin) / 2;
            }

            #nome {
                margin-right: $email-input-margin;
            }
        }
    }

    @media all and (min-width: 42rem /*672px*/ ) {
        .info {
            text-align: left;

            address, .busca {
                display: inline-block;
                width: 45%;
                margin-top: 0;
                margin-left: 2rem;
            }

            .busca img {
                width: 22rem;
                bottom: 0;
            }
        }
    }

    @media all and (min-width: 45rem /*720px*/ ) {
        .conecte {
            $email-input-margin: 1%;
            $width: (100% - 3 * $email-input-margin) / 4;

            #nome, #sobrenome {
                width: $width;
                margin-right: $email-input-margin;
            }

            #email {
                width: 1.5 * $width;
                margin-right: $email-input-margin;
            }

            input[type=submit] {
                width: .5 * $width;
                margin-right: 0;
            }
        }
    }

    @media all and (min-width: 70rem /*1200px*/ ) {
        .contato, .address {
            display: inline-block;
            width: 45%;
            vertical-align: middle;
            margin-top: 7rem;
            margin-bottom: 3rem;
            margin-left: 2rem;
        }

        .info {
            address {
                width: 60%;
            }

            .busca {
                width: 35%;
                vertical-align: bottom;
                margin-bottom: 3rem;
            }

            .background {
                @include transformSkew (-$skewDegrees, "!important");
            }

            .busca img {
                width: 30rem;
            }

            input[type=submit] {
                color: #e0e0e0;
            }
        }
    }
}
