@import "common.scss";
@import "skew.scss";

$email-input-margin: 2%;

footer {
    position: relative;
    background-color: white;
    font-size: 1.6rem;
    padding: 2rem;
    margin-top: 4rem;
    text-align: center;

    .social {
        img {
            width: 4rem;
            margin: 1rem;
        }
    }

    .conecte {
        margin: 3rem 0;

        p {
            margin: .5rem 0;
        }

        .title {
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        form {
            margin-top: 3rem;
        }

        input {
            margin-top: $email-input-margin;
            width: 100%;
        }
    }

    .info {
        @extend .skewedUp;
        font-size: 1.6rem;
        width: 100%;
        padding-top: 50% * $tgSkewDegrees;
        overflow: hidden;

        .content {
            //
        }

        .background {
            background-color: $oparque-yellow;
        }

        address {
            padding: 2rem 2rem 0 2rem;
            margin-bottom: 2rem;

            a, img, span {
                vertical-align: middle;
                display: inline-block;
                text-align: left;
                margin: 1rem 0;
            }

            a {
                text-decoration: none;
            }

            a, span {
                width: 17rem;
            }

            img {
                width: 3rem;
                margin-right: 1rem;
            }
        }

        input[type=submit] {
            width: 4rem;
            color: $oparque-yellow;
        }

        #busca {
            width: calc(100% - 4rem);
            background-color: $oparque-yellow;
        }

        .busca {
            text-align: left;
            padding: 3rem 0 2rem 0;

            form {
                padding: 0 2rem;
            }

            img {
                position: absolute;
                z-index: -1;
                width: 14rem;
                height: auto;
                bottom: 1rem;
                right: 0;
            }
        }
    }

    @media all and (min-width: 21rem /*px*/ ) {
        .info {
            font-size: 1.8rem;

            address {
                a, span {
                    width: 19rem;
                }
            }
        }
    }

    @media all and (min-width: 30rem /*480px*/ ) {
        .conecte {
            $email-input-margin: 1%;

            p {
                font-size: 1.8rem;
            }

            input {
                margin-top: $email-input-margin;
            }

            #nome, #sobrenome {
                width: (100% - $email-input-margin) / 2;
            }

            #nome {
                margin-right: $email-input-margin;
            }
        }
    }

    @media all and (min-width: 45rem /*720px*/ ) {
        .conecte {
            $email-input-margin: 1%;
            $width: (100% - 3 * $email-input-margin) / 4;

            #nome, #sobrenome {
                width: $width;
                margin-right: $email-input-margin;
            }

            #email {
                width: 1.5 * $width;
                margin-right: $email-input-margin;
            }

            input[type=submit] {
                width: .5 * $width;
                margin-right: 0;
            }
        }
    }
}
