@import "common.scss";

$email-input-margin: 2%;

footer {
    position: relative;
    background-color: white;
    font-size: 1.6rem;
    padding: 2rem;
    margin-top: 4rem;
    text-align: center;

    .social {
        img {
            width: 4rem;
            margin: 1rem;
        }
    }

    .conecte {
        margin: 3rem 0;

        p {
            margin: .5rem 0;
        }

        .title {
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        form {
            margin-top: 3rem;
        }

        input {
            margin-top: $email-input-margin;
            width: 100%;
        }
    }

    @media all and (min-width: 30rem /*480px*/ ) {
        .conecte {
            $email-input-margin: 1%;

            p {
                font-size: 1.8rem;
            }

            input {
                margin-top: $email-input-margin;
            }

            #nome, #sobrenome {
                width: (100% - $email-input-margin) / 2;
            }

            #nome {
                margin-right: $email-input-margin;
            }
        }
    }

    @media all and (min-width: 45rem /*720px*/ ) {
        .conecte {
            $email-input-margin: 1%;
            $width: (100% - 3 * $email-input-margin) / 4;

            #nome, #sobrenome {
                width: $width;
                margin-right: $email-input-margin;
            }

            #email {
                width: 1.5 * $width;
                margin-right: $email-input-margin;
            }

            input[type=submit] {
                width: .5 * $width;
                margin-right: 0;
            }
        }
    }
}

/*a {
        text-decoration: none;
        color: $oparque-black;
    }

    address {
        display: inline-block;
        width: 100%;

        div {
            width: $input-width + 5rem;
            margin: 2rem auto;
        }

        img {
            display: inline-block;
            width: 3rem;
            margin-right: 1rem;
            margin-left: .5rem;
            vertical-align: middle;
        }

        .content {
            display: inline-block;
            vertical-align: middle;
            width: $input-width;
        }

        font-style: normal;
    }

    .search {
        text-align: center;
        margin-top: 3rem;

        input[type=text] {
            width: $input-width;
        }

        input[type=submit] {
            background-image: url(../images/busca.svg);
        }
    }

    .contato {
        text-align: center;
        margin-top: 1rem;

        .social {
            display: block;
        }

        p {
            display: inline-block;
            margin-bottom: 1rem;
            width: $input-width + 5rem;
            text-align: left;
            margin-top: 3rem;
        }

        input[type=email] {
            width: $input-width;
        }

        input[type=submit] {
            background-image: url(../images/right-arrow.svg);
        }
    }*/

@media all and (min-width: 22rem /*352px*/ ) {
    /*$input-width: 29rem;

    footer {
        font-size: 1.6rem;

        address {
            div {
                width: $input-width;
            }

            .content {
                width: $input-width - 5rem;
            }
        }

        .contato p {
            width: $input-width;
        }

        .search input[type=text], .contato input[type=email] {
            width: $input-width;
        }
    }*/
}

@media all and (min-width: 42rem /*672px*/ ) {
    /*footer {
        address {
            vertical-align: top;
            display: inline-block;
            max-width: 30rem;

            .phone {
                margin: 3rem 0;
            }
        }

        .forms {
            vertical-align: bottom;
            display: inline-block;
            max-width: 30rem;
            margin: 1rem 0 1rem calc(100% - 61rem);
        }

        .search {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        .contato p {
            margin-top: 1rem;
        }
    }*/
}

@media all and (min-width: 50rem /*800px*/ ) {
    /*footer {
        padding: 2rem 10%;
    }*/
}
